.layui-layout .header{
  background-color: #ffffff;
  height: 50px;
  /* background-color: red; */
}
#header-left{

}
.header-a{
  height: 50px;
  line-height: 50px;
}
.header-a .layui-icon-shrink-right{
  font-size: 18px !important;
}
.header-a .layui-icon{
  font-size: 16px;
  color: #000;
}
.header-a .iconfont{
  font-size: 16px;
  color: #000;
}
.admin-name{
  color: #000;
}
/*去除头部导航栏点击后的小绿条*/
.layui-nav .layui-this:after {
  width: 0;
}
/* 左侧导航区域 */
.side{
  width: 220px !important;
  position: fixed;
  top: 0 !important;
  left: 0;
  z-index: 9999;
  background-color: #393D49;
  color: #ffffff;
}
.side .layui-side-scroll{
  width: 240px;
}
/*#logo{*/
/*  background-color: #20222a;*/
/*}*/
#logo+hr{
  margin: 0 !important;
  background-color: #393D49  !important;
}
.side-touxiang{
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  width: 220px;
}
.side-touxiang img{
  width: 72px;
  margin: 0 auto;
  border: 4px solid #44576b;
  border-radius: 50%;
}
.side-touxiang p{
  padding-top: 15px;
}
.side-menu{
  width: 220px;
  background-color: transparent;
}
.side-menu a{
  color: #ffffff !important;
}
.side-menu .layui-icon{
  font-size: 16px;
  padding-right: 10px;
}
.side-menu .layui-nav-child a{
  padding-left: 45px;
}

/* 内容主体区域 */
.content-body{
  position: absolute;
  top: 50px;
  left: 220px;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
.tab{
  background: #F5F7F9;
  height: 100%;
  margin: 0;
  line-height: 40px;
}
/* 设置选项卡的形状颜色 */
.tab .layui-tab-title li{
  background-color: #ffffff;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  margin-left: 15px;
  border-radius: 3px;
}
.tab .layui-icon{
  padding-right: 5px;
}
.tab .layui-icon-close{
  padding-right: 0px;
  padding-left: 5px;
}
/*清除选项卡下面那条绿色的线*/
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
  border: none;
  border-radius: 0;
}
#tabContent{
  background-color: #ffffff;
  height: 100%;
  padding: 0;
}
/*使iframe高度100%,它的父类高度也需要100%*/
#tabContent .layui-tab-item{
  height: 100%;
}
/*使iframe高度100*/
#tabContent .layui-tab-item iframe{
  height: 100% ;
}
