<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxnu.mapper.ItemMapper">

    <!-- 配置 查询结果的列名和实体类的属性名的对应关系 -->
    <resultMap id="itemMap" type="item">
        <!-- 主键字段的对应 -->
        <id property="itemOrderId" column="item_order_id"></id>
        <result property="itemDishId" column="item_dish_id"></result>
        <!--非主键字段的对应-->
        <result property="itemNumber" column="item_number"></result>
        <result property="itemWaitNumber" column="item_wait_number"></result>
        <association property="dish" javaType="Dish" column="item_dish_id"
                     select="com.jxnu.mapper.DishMapper.findDishByDishId"/>
    </resultMap>

    <!--根据订单id查询订单明细-->
    <select id="findItemByItemOrderId" parameterType="Integer" resultMap="itemMap">
        select * from item where item_order_id = #{itemOrderId}
    </select>

    <!--插入一个订单明细-->
    <insert id="insertItem" parameterType="item">
        insert into item(item_order_id,item_dish_id,item_number,item_wait_number)
        values (#{itemOrderId},#{itemDishId},#{itemNumber},#{itemWaitNumber})
    </insert>

    <!--修改一个订单明细(修改菜数量和该菜品待上的数量)-->
    <insert id="updateItem">
        update item
        set item_number = #{itemIncrNumber} + item_number,
        item_wait_number = #{itemIncrWaitNumber} + item_wait_number
        where item_order_id = #{itemOrderId} and item_dish_id = #{itemDishId}
    </insert>

    <!--使菜品待上数量加一或减一-->
    <update id="updateItemWaitNumber">
        <if test="number == 1">
            update item
            set item.item_wait_number = item.item_wait_number + #{number}
            where item.item_number > item.item_wait_number
            and item.item_dish_id=#{dishId} and item.item_order_id = (
                SELECT distinct orders.order_id
                from orders
                where orders.order_shop_id = #{shopId} and orders.desk_id = #{deskId}
                and orders.order_status=0
            )
        </if>
        <if test="number == -1">
            update item
            set item.item_wait_number = item.item_wait_number + #{number}
            where item.item_wait_number > 0
            and item.item_dish_id=#{dishId} and item.item_order_id = (
                SELECT distinct orders.order_id
                from orders
                where orders.order_shop_id = #{shopId} and orders.desk_id = #{deskId}
                and orders.order_status=0
            )
        </if>
    </update>
</mapper>